/* TODO: Understand why there are duplicates */
* {
  font-family: 'Poppins', sans-serif;
}

#root {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.125rem;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

h2 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--default-primary-brown);
}
