.heading {
    margin-bottom: 2rem;
}

.levels {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    @media (min-width: 640px) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}

.level {
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: -0.25rem 0.25rem var(--default-secondary-grey);

    @media (min-width: 640px) {
        padding: 1.5rem 1rem;
        max-width: 10rem;
        margin-bottom: 0;
    }
}

.name {
    font-weight: 700;
    margin-bottom: 1rem;
}

.description {
    color: var(--default-primary-grey);
    font-style: italic;
}