@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.text {
    animation: fade 2.5s ease-in;
}

.heading {
    composes: text;
    margin-bottom: 1.5rem;
}

.subheading {
    composes: text;
    margin-bottom: 2.5rem;
}

.button {
    composes: text
}