@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.text {
    animation: fade 2.5s ease-in;
}

.heading {
    composes: text;
    font-size: 6rem;
    margin-bottom: 1.5rem;

    @media (min-width: 420px) {
        font-size: 7rem;
    }
}

.subheading {
    composes: text;
    margin-bottom: 2.5rem;
}

.button {
    composes: text;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: -0.25rem 0.25rem var(--default-secondary-grey);
    padding: 1rem 2rem;
}

.buttonText {
    composes: text;
    font-size: 1.25rem;
    font-weight: 700;
}