.heading {
    composes: animate from '../styles/constants.module.css';
    font-size: 5.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: 420px) {
        font-size: 7rem;
    }
}

.subheading {
    composes: animate from '../styles/constants.module.css';
    margin-bottom: 1rem;
    text-align: center;
}

.badge {
  composes: animate from '../styles/constants.module.css';
  align-self: center;
  margin-bottom: 2.5rem;
}
