.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.item {
    line-height: var(--default-line-height);
    list-style: inside;
    list-style-position: outside;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.item:last-of-type {
    margin-bottom: 0;
}
