.instructions {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.items {
    margin-bottom: 3rem;

    @media (min-width: 560px) {
        margin-bottom: 2rem;
    }
}

.item {
    line-height: var(--default-line-height);
    list-style: inside;
    list-style-position: outside;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.item:last-of-type {
    margin-bottom: 0;
}

.emphasis {
    font-style: italic;
}

.button {
    composes: animate from '../styles/constants.module.css';
    composes: button from '../styles/constants.module.css';
    margin: 0 auto;
}
