.heading {
    margin-bottom: 1.5rem;
}

.list {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 500;
    line-height: var(--default-paragraph-line-height);
    margin-bottom: 2rem;
}

.item {
    list-style: inside;
    list-style-position: outside;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.item:last-of-type {
    margin-bottom: 0;
}

.emphasis {
    font-weight: 700;
}

.button {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: -0.25rem 0.25rem var(--default-secondary-grey);
    padding: 1rem 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    width: fit-content;
}