.container {
    height: 100vh;
    background-color: var(--default-primary-beige);
    padding: 2rem 1rem;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
}