.container {
    height: 100vh;
    padding: 2rem 1.5rem;
    box-sizing: border-box;
}

.dark {
    composes: container;
    background-color: var(--default-primary-brown);
}

.light {
    composes: container;
    background-color: var(--default-primary-beige);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
}