/* TODO: Use shared style */
.content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.question {
    font-size: 2rem;
    line-height: var(--default-line-height);
}

/* TODO: Refactor when moved to Link component */
.button {
    composes: button from '../styles/constants.module.css';
    border: none;
    color: var(--default-primary-brown);
    align-self: flex-end;
}
