@keyframes fade {
    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

.text {
    color: #98473E;
    animation: fade 2.5s linear;
}

.heading {
    composes: text;
    font-size: 7rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.subheading {
    composes: text;
    font-size: 1.25rem;
}