.actions {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.description {
    line-height: var(--default-line-height);
    margin-bottom: 0.25rem;
}

.link {
    text-decoration: underline;
}

.restart {
    composes: button from '../styles/constants.module.css';
    align-self: flex-end;
}
