.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    @media (min-width: 560px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.donate {
    margin-bottom: 2rem;

    @media (min-width: 560px) {
        max-width: 16rem;
        margin-bottom: 0;
        margin-right: 2rem;
    }
}

.title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.description {
    line-height: var(--default-line-height);
    margin-bottom: 0.25rem;
}

.link {
    text-decoration: underline;
}

.restart {
    composes: button from '../styles/constants.module.css';
}