@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

:root {
  --default-primary-brown: #98473E;
  --default-primary-grey: #747474;
  --default-secondary-grey: #aaaaaa;
  --default-primary-beige: #EFD09E;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--default-primary-brown);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 1.25rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--default-primary-brown);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
